<!-- <app-admin-nav></app-admin-nav> -->
<div *ngIf="isadminnavvisible">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>CRUD APP</span>
        <span class="example-spacer"></span>
        <button (click)="onLogout()" mat-button *ngIf="authenticated">Logout</button>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" position="start" mode="side">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-button routerLink="/admin/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/admin/userlist"><mat-icon>list</mat-icon>User List</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/admin/createuser"><mat-icon>person_add</mat-icon>Create
                        User</button>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center; min-height: 600px;">
                <h2>Create New User</h2>
                <form [formGroup]="crateuserform" (ngSubmit)="ProceedCreateUser()">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input formControlName="username" matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input formControlName="phone" matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput  [type]="'password'">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmpassword" matInput  [type]="'password'">
                    </mat-form-field>
                    <br>

                    <mat-card-actions>
                        <div class="div-50">
                            <button type="submit" color="primary" mat-raised-button>Save</button>
                        </div>
                    </mat-card-actions>
                </form>

            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>